name: Test Pull Request

on:
  pull_request:
    branches:
      - main
      - beta

env:
  node-version: "12"

jobs:
  publish:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Increase watchers to fix Docker
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}

      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Yarn dependencies
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile --silent

      - name: Start linter
        run: yarn lint

      - name: Start typescript check
        run: yarn typecheck

      - name: Start test
        run: yarn test --ci --onlyChanged --coverage --json --outputFile=jest.results.json

      - name: Start test
        uses: wildone/jest-github-action@45e8796f0fbf3491a8657de9d2b3f13f75de9a7d
        with:
          process-only: true
          results-file: "jest.results.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
