name: Commitlint
on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lints commits
        uses: wagoid/commitlint-github-action@v2
        with:
          configFile: .commitlintrc.js
